@namespace RoadRush.UI
@inherits RootPanel

<style>
    Hud {
        font-family: Poppins;
        font-size: 24px;
        color: white;
        text-shadow: 0px 0px 6px black;

        .points {
            position: absolute;
            right: 20px;
            top: -20px;
            font-size: 150px;
            font-weight: bold;
        } 
    }
</style>

<label class="points" @ref="PointsLabel"></label>
<GameOver></GameOver>

@code {
    public Hud Instance { get; set; }
    public Label PointsLabel { get; set; }

    public Hud()
    {
        Instance = this;
    }

    public override void Tick()
    {
        base.Tick();

        PointsLabel.Text = GameRound.Instance.State == GameState.Started ? $"{GameRound.Instance?.Points}" : "";
    }
}